html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  padding: 10px;
  gap: 10px;
}
